.current-goal-container {
  text-align: center;
  border-radius: 8px;
  padding: 25px 0;
  box-shadow: 0px 14px 46px rgba(128, 128, 128, 0.25);
}

.goal-modal-inner {
  width: 100%;
}

.goal-modal-heading {
  font-size: 2em;
}
.goal-modal-selector {
  margin-top: 24px;
}

.goal-modal-pages-selector,
.goal-modal-books-selector {
  font-size: 1.1em;
  font-weight: 400;
  cursor: pointer;
}

.goal-modal-current {
  font-weight: 600;
  border-bottom: 4px solid rgb(4, 4, 161);
}

.goal-modal-pages-selector {
  margin-right: 10px;
}

.goal-modal-input-container {
  margin-top: 36px;
}

.goal-modal-input {
  height: 24px;
  margin-left: 10px;
  margin-right: 10px;

  border-style: solid;
  border-radius: 10px;
  border-color: lightgray;
}

.goal-modal-buttons {
  margin-top: 48px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.goal-modal-cancel-btn {
  border-radius: 20px;
  border: 0px;
  background-color: lightgray;
  cursor: pointer;
  padding: 10px 15px;
}
.goal-modal-add-btn {
  border-radius: 20px;
  border: 0px;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
}

.open-modal {
  cursor: pointer;
}
