.goal-header {
    padding-left: 260px;
    padding-top:100px;
    padding-bottom:28px;
    font-size: 22pt;
    font-weight:bold;
    color:black;
   }

.current-goal-container {
    /* nav bar is 180px, so set left margin to 180+80 */
    margin-left: 260px;
    margin-right: 80px;
    margin-top: 26px;
    text-align: center;
    border-radius: 8px;
    padding: 25px 0;
    box-shadow: 0px 14px 46px rgba(128, 128, 128, 0.25);
}