.modal-container {
    display:flex;
    flex-direction:column;
    text-align: left;
    padding-top: 32px;
    padding-bottom: 32px;
}

.modal-title {
    color:black;
    font-size: 22pt;
    letter-spacing: -0.5px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.modal-desc {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 14pt;
    padding-top: 20px;
    padding-bottom: 40px;
}

.form-container {
    display:flex;
    flex-direction:column;
}

.forgotPasswordInput {
    width: 100%;
}

.modal-button-primary {
    width: 100%;
    color: white;
}

.modal-button-secondary {
    width: 100%;
}

.password-form-spacer {
    height: 20px;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .modal-title {
        font-size:16pt;
        text-align:center;
    }

    .modal-desc {
        text-align:center;
        font-size:12pt;
    }
}