/*This CSS-file defines the colors of the vaadin progress bar component*/
:host(.weak-indicator) [part="value"] {
	background-color: #ef2929;
}
:host(.fair-indicator) [part="value"] {
	background-color: #f57900;
}
:host(.good-indicator) [part="value"] {
	background-color: #fbe209
}
:host(.strong-indicator) [part="value"] {
	background-color: #00ff40;
}
:host(.very-strong-indicator) [part="value"] {
	background-color: #008000;
}
