@media screen and (max-width: 37em) {
    .shelfFormInputField, .shelfFormSaveButton {
        width: 100%;
    }
}

@media screen and (min-width: 37em) {
    .shelfFormInputField {
        width: 32em;
    }
}

.shelfFormSaveButton {
    margin-top: 1em;
    width: 10em !important;
    min-width: 10em;
}