@media screen and (max-width: 37em) {
    [part="overlay"] {
        width:95%;
    }
}

@media screen and (min-width: 37em) {
    [part="overlay"] {
        width:35em;
    }
}

@media screen and (min-width: 70em) {
    [part="overlay"].bookFormOverlay {
        width:68em;
    }

    [part="overlay"].shelfFormOverlay {
        width:35em;
    }
}

.shelfFormOverlay {
    align-items: center;
}