* {
  --book-width: 110px;
  --book-height: 160px;
  --book-overview-width: 180px;
  --book-margin: 25px;
  --book-icon: 50px;
  --primary-color-gradient: linear-gradient(
      170deg,
      rgba(40, 61, 255, 0.54) -13.03%,
      rgba(255, 255, 255, 0) 93.19%
    ),
    #2e24a3;
  --primary-color: #2e24a3;
}

/* Styles for carousel */

.shelf-container {
  margin-bottom: 40px;
}

.shelf-title {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  padding-left: 0px;
}

.view-all {
  position: relative;
  top: -2.5px;
  border-radius: 55px;
  border: 1px solid #ebebeb;
  padding: 8px 12px;
  width: 250px;
  height: 50px;
}

.books-and-shelf {
  overflow: visible;
  padding: 20px;
  /* makes shelf width of the books */
  display: block;
}

.book-wrap {
  margin: 0px 30px;
  display: flex;
  justify-content: space-evenly;
}

.clear {
  clear: both;
}

.shelf {
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 10px 20px 9px rgba(197, 197, 197, 0.25);
  position: relative;
  height: 24px;
}

/* Styles for Book */

.book {
  float: left;
  width: var(--book-width);
  height: var(--book-height);
  margin-right: var(--book-margin);
  background-color: white;
  border-radius: 1px;
  filter: drop-shadow(0px 40px 40px rgba(0, 0, 0, 0.4));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.book-spine {
  position: absolute;
  top: 0;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 91.58%,
    rgba(255, 255, 255, 0.16) 93.2%,
    rgba(255, 255, 255, 0) 94.81%,
    rgba(255, 255, 255, 0) 96.2%,
    rgba(255, 255, 255, 0.2) 98.17%
  );
  box-shadow: 0 0 5px -1px #0d0d0d, inset -1px 1px 2px rgb(255 255 255 / 50%);
  width: 100%;
  height: 100%;
}
.book.image {
  background-size: cover;
}

.book.add-new {
  background-color: white;
  color: var(--primary-color);
  margin-right: 0;
}

.book-title {
  margin: 0px;
  padding: 15px;
  text-align: center;
  font-size: 12px;
}

.book-title.hide {
  display: none;
}

.book-title.add-new {
  padding-top: 5px;
  padding-bottom: 0px;
  font-size: 10px;
}

.icon {
  font-size: var(--book-icon) !important;
  font-weight: bold;
}

/* styling for tablet screens */
@media screen and (max-width: 800px) {
  /* resize books to be 0.6x original size */
  .book {
    width: calc(var(--book-width) * 0.6);
    height: calc(var(--book-height) * 0.6);
    margin: 0px 15px;
  }

  .book-title {
    font-size: 10px;
  }

  .icon {
    font-size: calc(var(--book-icon) * 0.6) !important;
  }
}

@media screen and (min-width: 1600px) {
  .shelf-title {
    font-size: 34px;
  }
  .view-all {
    font-size: 20.5px;
  }
}

@media screen and (min-width: 2100px) {
  .shelf-title {
    font-size: 38px;
  }
  .view-all {
    font-size: 22.5px;
  }
}

/* styling for smaller desktops */
@media screen and (min-width: 801px) and (max-width: 1200px) {
  /* resize books to be 0.8x original size */
  .book {
    width: calc(var(--book-width) * 0.8);
    height: calc(var(--book-height) * 0.8);
    margin: 0px 15px;
  }

  .icon {
    font-size: calc(var(--book-icon) * 0.8) !important;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1350px) {
  /* resize books to be 0.9x original size */
  .book {
    width: calc(var(--book-width) * 0.9);
    height: calc(var(--book-height) * 0.9);
    margin-right: 15px;
  }
}

@media screen and (min-width: 1351px) and (max-width: 1500px) {
  /* resize books to be 1.2x original size */
  .book {
    width: calc(var(--book-width) * 1.2);
    height: calc(var(--book-height) * 1.2);
    margin-right: 15px;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1800px) {
  /* resize books to be 1.3x original size */
  .book {
    width: calc(var(--book-width) * 1.3);
    height: calc(var(--book-height) * 1.3);
    margin-right: 15px;
  }
}

@media screen and (min-width: 1801px) and (max-width: 2100px) {
  /* resize books to be 1.5x original size */
  .book {
    width: calc(var(--book-width) * 1.5);
    height: calc(var(--book-height) * 1.5);
    margin-right: 15px;
  }
}

@media screen and (min-width: 2101px) {
  /* resize books to be 1.7x original size */
  .book {
    width: calc(var(--book-width) * 1.7);
    height: calc(var(--book-height) * 1.7);
    margin-right: 15px;
  }
}
